<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='../v/pc/css/1.css' />
</head>
<body>
<h1>1页面</h1>
<p>Welcome to 1页面</p>
</body>
</html>
