<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='../v/pc/css/1.css' />
</head>
<body>
<h1>用户信息表~k</h1>
<ul class="listIfo">
    <li>
        <span>姓名</span>
        <span>年龄</span>
        <span>性别</span>
        <span>密码</span>
        <span>编辑</span>
        <span>编辑</span>
    </li>
</ul>
<div>
    姓名:<input type="text" class="user"/>
    年龄:<input type="text" class="age"/>
    性别:<input type="text" class="sex"/>
    密码:<input type="text" class="password"/>
</div>
<button class="addBtn">新增</button>
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="../v/pc/js/1.js"  charset="utf-8"></script>
</body>
</html>
